---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Damien Dumontet - articles">
  <main>
    <Nav />
    <div>Articles</div>
  </main>
</Layout>
