---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ArticleList from "../components/ArticleList.astro";
---

<Layout title="Damien Dumontet - articles">
  <main>
    <Nav />
    <ArticleList />
    <Footer />
  </main>
</Layout>
