---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import ArticlePreview from "../components/ArticlesPreview";
import Newsletter from "../components/Newsletter.astro";
---

<Layout title="Damien Dumontet - hey!">
  <main>
    <Nav />
    <Header />
    <ArticlePreview client:visible />
    <Newsletter />
  </main>
</Layout>
