---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
---

<Layout title="Damien Dumontet - hey!">
  <main>
    <Nav />
    <Header />
  </main>
</Layout>

<style></style>
