---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import type { IProject } from "../models/project.model";
import projectDescriptor from "../descriptors/projects.json";

const projects: IProject[] = projectDescriptor.projects;
---

<Layout title="Damien Dumontet - projects">
  <main>
    <Nav />
    <div class="mt-24"></div>
    <h2 class="text-3xl font-bold tracking-tight text-zinc-800 sm:text-4xl">
      Last Projects
    </h2>
    <p class="mt-3 text-xl text-zinc-500 sm:mt-4">
      Here is a brief overview of the work I have accomplished over the past few
      years. Whether undertaken as a personal endeavor or professionally, each
      project was executed with passion and expertise.
    </p>
    <div class="h-0.5 w-full bg-zinc-100 my-16"></div>

    <div class="flex flex-col">
      {projects.map((project) => <ProjectPreview project={project} />)}
    </div>
    <Footer />
  </main>
</Layout>
