<div class="h-0.5 w-full bg-zinc-100 mt-24 mb-16"></div>
<div class="sm:flex sm:flex-row flex-col">
  <div class="flex text-zinc-800">
    <a class="mr-6 cursor-pointer hover:text-teal-400" href="/"> Hey</a>
    <a class="mr-6 cursor-pointer hover:text-teal-400" href="/about"> About</a>
    <a class="mr-6 cursor-pointer hover:text-teal-400" href="/articles">
      Articles
    </a>
    <a class="mr-6 cursor-pointer hover:text-teal-400" href="/projects">
      Projects
    </a>
  </div>
  <p class="ml-auto text-sm text-zinc-300 mt-4 sm:mt-0">
    © 2023 Damien Dumontet. All rights reserved.
  </p>
</div>
