<div class="w-full">
  <div class="lg:hidden pt-12">
    <div class="flex justify-center items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-10 h-10 cursor-pointer"
      >
        <path
          d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
        ></path>
      </svg>
      <a href="https://github.com/lnk00" class="ml-auto">
        <img
          src="/images/github.png"
          alt="github logo"
          class="h-10 cursor-pointer drop-shadow-md"
        />
      </a>
    </div>
  </div>
  <div class="hidden lg:flex align-center justify-between w-full pt-12">
    <div class="w-10"></div>
    <div
      id="menu"
      class="flex ring-1 ring-zinc-100 rounded-full px-6 py-3 shadow-md text-sm text-zinc-800 font-medium"
    >
      <a
        href="/"
        class="mr-6 cursor-pointer hover:text-teal-400 transition-all duration-300"
      >
        Hey!</a
      >
      <a
        href="/about"
        class="mr-6 cursor-pointer hover:text-teal-400 transition-all duration-300"
      >
        About
      </a>
      <a
        href="/articles"
        class="mr-6 cursor-pointer hover:text-teal-400 transition-all duration-300"
      >
        Articles
      </a>
      <a
        href="/projects"
        class="cursor-pointer hover:text-teal-400 transition-all duration-300"
      >
        Projects
      </a>
    </div>
    <a href="https://github.com/lnk00">
      <img
        src="/images/github.png"
        alt="github logo"
        class="h-10 cursor-pointer drop-shadow-md"
      />
    </a>
  </div>
</div>
